<app-userheader></app-userheader>
<app-usersidenave></app-usersidenave>

<section class="main">
  <div class="container ">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-lg-12 col-md-8 col-lg-6 ">
        <h3 class="text">History</h3>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">BookName</th>
              <th scope="col">Issue Date</th>
              <th scope="col">Exp-Return Date</th>
              <th scope="col">Transection Status</th>
              <th scope="col">Transection Id</th>
              <th><label>Actual RaeturnData</label></th>
              <th scope="col">
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let transection of readtransection?.data">
              <td>{{transection?.bookname}}</td>
              <td>{{transection?.issued_date}}</td>
              <td>{{transection?.exp_returndate}}</td>
              <td>{{transection?.t_status}}</td>
              <td>{{transection?.t_id}}</td>
              <td>
                <input type="date" [(ngModel)]="transection.act_returneddateData" />
              </td>
              <td>
                <i class="fa-solid fa-check" data-bs-toggle="modal" data-bs-target="#exampleModal3"
                  (click)="returnbook(transection)"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<!-- act_returneddate: null
book_id: 2031
bookname: "Why I am an Atheist and Other Works"
copy_id: 3084
exp_returndate: "2022-09-01"
issued_date: "2022-08-25"
t_createddate: "2022-08-25"
t_fine: null
t_id: 20017
t_status: 1
t_updateddate: "2022-08-25"
user_id: 21018 -->



<!-- Returns Request model-->
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="cardpoup">
        <div class="modal-body">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              are you sure you want to return book....?
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)="returnRequest()">Yes</button>
          </div>
        </div>
      </div>
    </div>
  </div>