.main{
    background-color: black;
    padding:12.5% 0;
    td{
        color: white;
    }
    th{
        color: white;
    }

 }
 .text{
    text-align: center;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    
 }
 .table{
    font-size: small;
 
 }
