.main {
   background-color: black;
   padding: 25% 0;
   margin-top: -18%;

   td {
       color: white;
   }

   th {
       color: white;
   }
}

.text {
   text-align: center;
   color: white;
}