 .main {
     background-color: black;
     padding: 4.8% 0;

     td {
         color: white;
     }

     th {
         color: white;
     }
 }

 .text {
     text-align: center;
     color: white;
 }

 .form-control {
     font-size: 11px;
     width: 80%;
 }