
.navbar {    
    min-height: 83px;
    }
    .profile{
        float: right;
        font-size: 150%;
        color: white;
        padding-right: 40px;
        cursor: pointer;
        border-radius: 8px;
        text-decoration: none;
    }
    .navbar-brand img{
        margin-left: 180%;
        border-radius: 45%;
    }
    .logout {
        ul{
            cursor: pointer;
            max-height: 96%;
            min-width: 20%;
            max-height: 96%;
            padding-top: 2%;
            margin-left: -8%;
        }
        }
    
    