
.navbar {
    
    min-height: 83px;
  

}

 .text{
    color:red;
    text-align: center;
    padding-top: 15%;
    font-family: 'Times New Roman', Times, serif;
 }

.navbar-brand img{
margin-left: 50%;
border-radius: 45%;
}
 
 